* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 22.5em) {
    html {
      font-size: 50%; } }

.body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #e5e5e5;
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }

.button {
  flex: 1;
  border: none;
  font-size: 2rem;
  color: #e5e5e5;
  margin: 0.15rem; }
  .button--gray {
    background-color: #131313; }
    .button--gray:hover {
      background-color: #4b4b4b; }
    .button--gray:active {
      background-color: #616060; }
  .button--black {
    background-color: #060606; }
    .button--black:hover {
      background-color: #4d4d4d; }
    .button--black:active {
      background-color: #5e5d5d; }
  .button--blue {
    background-color: #134369; }
    .button--blue:hover {
      background-color: #2277bb; }
    .button--blue:active {
      background-color: #0078d7; }
  .button--disabled {
    color: #363636; }

.output__main::-webkit-scrollbar-track {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #1f1f1f; }

.output__main::-webkit-scrollbar {
  width: 3px;
  height: 7px;
  background-color: #1f1f1f; }

.output__main::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #555; }

.output__sub::-webkit-scrollbar-track {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #1f1f1f; }

.output__sub::-webkit-scrollbar {
  width: 3px;
  height: 7px;
  background-color: #1f1f1f; }

.output__sub::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #555; }

.body::-webkit-scrollbar-track {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #1f1f1f; }

.body::-webkit-scrollbar {
  width: 10px;
  height: 7px;
  background-color: #1f1f1f; }

.body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #555; }

.calculator {
  width: 100%;
  height: 100%;
  background-color: inherit;
  max-width: 60rem;
  min-height: 75rem;
  flex: 1;
  display: grid;
  grid-template-rows: min-content 1fr;
  max-height: 57.1rem; }
  @media only screen and (max-width: 50em) {
    .calculator {
      max-height: none;
      max-width: none;
      padding: 1rem; } }
  @media only screen and (max-width: 22.5em) {
    .calculator {
      min-height: 100%; } }
  .calculator .output {
    display: flex;
    background-color: #1f1f1f;
    align-items: flex-end;
    flex-direction: column;
    padding: 4rem 0;
    font-weight: bold; }
    .calculator .output__main {
      font-size: 6rem;
      margin-top: 0.3rem;
      color: #e5e5e5;
      min-height: 7.2rem;
      max-width: 600px;
      overflow-x: auto;
      padding-bottom: 10px; }
    .calculator .output__sub {
      font-size: 1.2rem;
      user-select: none;
      color: #9c9c9c;
      min-height: 1.4rem;
      overflow-x: auto;
      max-width: 600px;
      padding-bottom: 10px; }
  .calculator .operations {
    display: grid;
    user-select: none; }
    .calculator .operations .row {
      width: 100%;
      align-items: stretch;
      display: flex; }
