.button {
    flex: 1;
    border: none;
    font-size: 2rem;
    &--gray {
        background-color: $color-gray--1;
        &:hover {
            background-color: lighten($color-gray--1, 22);
        }
        &:active {
            background-color: #616060;
        }
    }
    &--black {
        background-color: $color-black;
        &:hover {
            background-color: lighten($color-black, 28);
        }
        &:active {
            background-color: #5e5d5d;
        }
    }
    &--blue {
        background-color: $color-blue;
        &:hover {
            background-color: lighten($color-blue, 19);
        }
        &:active {
            background-color: #0078d7;
        }
    }
    &--disabled {
        color: $font-color-disabled;
    }
    color: $color-white;
    margin: 0.15rem;
}