* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    @media only screen and (max-width: 22.5em) {
        font-size: 50%;
    }
}

.body {
    font-family: $font-primary, $font-secondary;
    font-weight: 400;
    color: $color-white;
    background-color: $color-gray--2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}